.contact-section {
  background-color: var(--secondary-color);
}

.contact-content {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
}

.contact-info {
  flex: 1;
}

.contact-info h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.contact-info p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.contact-details p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.contact-details a {
  font-weight: 600;
}

.contact-map {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contact-map iframe {
  width: 100%;
}

@media (max-width: 992px) {
  .contact-content {
    flex-direction: column;
    text-align: center;
  }
}